* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2EC4B6;
    text-align: center;

}

.container {
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;


}

h1{
    color: white;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #FFBF69;
    background-color: #CBF3F0;
}

#rst-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #FF9F1C;
    color: white;
    border-radius: 6px;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #FF9F1C;
    color: white;
    border-radius: 6px;
    border: none;

}

#msg {
    color: white;
    font-size: 5vmin;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: column;

}

.hide{
    display: none;
}
