*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color:palevioletred;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 30%;
    height: 30%;
    background-color: rgb(218, 154, 175);
    display: flex;
    justify-content:center;
    gap: 50px;
    align-items: center;
    flex-direction: column;

}

#guess-field{
    padding: 10px 5px;
    width: 70%;
    border-radius: 0.3rem;
    border: none;

}

#subt{
    padding: 10px 20px;
    cursor: pointer;
    background-color: paleturquoise;
    border: none;
    border-radius: 2px;
    font-size: 17px;

}
#results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
    position: absolute;
    bottom: 50px;

}

#startNewGame{
    background-color: paleturquoise;
    padding: 10px 5px;
    cursor: pointer;

}