* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ff99c8;
}

.container {
    width: 30em;
    height: 20em;
    border: none;
    background-color: #fcf6bd;
    border-radius: 4rem;
    position: absolute;
    top: 200px;
    left: 364px;
}

h1 {
    margin-top: 20px;
    font-family: cursive;
    text-align: center;
}

input {
    border: none;
    border-radius: 2rem;
    width: 30em;
    height: 4em;
    margin: 20px;
}

button {
    background-color: #e4c1f9;
    border: none;
    border-radius: 4rem;
    height: 3em;
    width: 30em;
    display: inline-block;
    margin: 20px;

}

button:hover {
    background-color: #a9def9;
}

.hidden{
    visibility: hidden;
    font-family: 'Times New Roman', Times, serif;
}